


<%- include('../includes/admin_navbar') %> 

<div id="main">



<div class="container-fluid " style="position: relative; top:25px; ">
    <h2 class="mt-5 ms-1 mb-5 text-white"> Notice Board  </h1>

    <% if(updateNotice) { %> 
        <div class="alert alert-success mt-5 mb-3 ms-2 " style="width:1409px;">
            <%= updateNotice  %> 
        </div>
   <% } %> 


   <% if(removeNotice) { %> 
    <div class="alert alert-danger mt-5 mb-3 ms-2 " style="width:1407px;">
        <%= removeNotice  %> 
    </div>
<% } %> 


 <% if(notices.length  == 0){ %> 
    <div class="col-div-8">
		<div class="box-8">
		<div class="content-box">
    <p> Notice Board is Empty !  </p>
    </div>
    </div>
    </div>
 <% }else { %> 
 
    
    
      
            <table class="table ">
                <thead style="font-size: 20px;">
                    <th>Title </th>
                    <th>Content</th>
                    <th>Posted On </th>
                    <th>update</th>
                    <th>remove</th>
                </thead>
            
                <tbody>
                    <% notices.forEach(notice => { %> 
                        <tr> 
                            
                            <td><%= notice.title %> </td>
                            <td><%= notice.content %> </td>
                            <td > <%= notice.createdAt %> </td>
                            <td><button class="btn btn-danger"><a href="/admin/updatenotice/<%= notice.id %>"> update </a></button></td>
                            <td><button class="btn btn-light "><a href="/admin/removenotice/<%= notice.id %>"> remove </a></button></td>
                            
                        </tr>
                   <%  }) %> 
                 
                </tbody>
            </table>
           
 
 <% } %>



</div>




