<%- include('../includes/admin_header') %> 

<%- include('../includes/admin_navbar') %> 



<div class="container mt-5 ">

    <div class="card bg-dark">

   
    <table class="table text-white " style="font-size: 20px;">
        <thead>
            <tr style="font-size:25px;">
                <th>Course Id : </th>
                <th>Course Name : </th>
                <th>Student Id :  </th>
                <th>Student Profile : </th>
                <th>View </th>
                <th>Update</th>
            </tr>

            <% applications.forEach(application => { %>
                <tr>
                    <td> <%= application.id %></td>
                    <td><%= application.course %> </td>
                    <td> <%= application.studentId %> </td>
                    <td> <%= application.profile %> </td>
                    <td><button> <a href="/admin/singleapplication/<%= application.id %> ">View</a> </button></td>
                    <td><button> <a href="/admin/updateapplication/<%= application.id %> "> Update </a> </button></td>
                </tr>
               
        
            <% }) %> 
           
        </thead>
    </table>
</div>

   
</div>