

<%- include('../includes/admin_navbar') %> 



<div id="main" >
    <div class="container-fluid" style="position: relative; top:80px; ">

        <h2 class="ms-1  mb-5 text-white"> Rejected Applications    </h2>
      


   <%  if(applications.length == 0) { %>
    <div class="col-div-8" style="position: relative; top:45px;">
		<div class="box-8">
		<div class="content-box">
    <p> No Application is rejected !  </p>
    </div>
    </div>
    </div>
    <% } else { %>
     

                <table class="table text-white " style="font-size: 20px; ">
                    <thead>
                        <tr style="font-size:20px;">
                            <th>Course Id : </th>
                            <th>Course Name : </th>
                            <th>Student Id :  </th>
                            <th>Student Profile : </th>
                            <th> Fee </th>
                            <th> view   </th>
                        </tr>
                
                        <% applications.forEach(application => { %>
                            <tr>
                                <td> <%= application.id %></td>
                                <td><%= application.course %> </td>
                                <td> <%= application.studentId %> </td>
                                <td> <embed src="/uploaded-images/<%= application.profile %> " alt="student profile" height="70" width="100" class="mt-2"> </td>
                                
                               <%  if(application.payment == false) { %> 
                                    <td> Not Paid</td> 
                                <% } else { %> 
                                    <td> Paid </td>
                               <%  } %> 
                                <td><button> <a href="/admin/singleapplication/<%= application.id %> ">View</a> </button></td>
                           
                            </tr>
                           
                    
                        <% }) %> 
                       
                    </thead>
                </table>
                
            </div>
            </div>
        </div>

<%  } %>
</div>
</body>
</html> 