<%- include('../includes/admin_header') %> 

<%- include('../includes/admin_navbar') %> 


<div class="card card-add-course">
    <div class="card-header">
        <div class="card-title">
            <h3>Update Course</h3>
        </div>
    </div>
    <div class="card-body">
        <form action="/admin/updatecourse/<%= course.id %>" method="POST">
            <label class="form-label"> department </label>
            <input type="text" name="department" class="form-control" value="<%= course.department %>">

            <label  class="form-label">Course name : </label>
            <input type="text" name="course"  class="form-control" value="<%= course.courseName %>">

            <button type="submit" class="btn btn-success"> Update </button>

        </form>
    </div>
</div>