<%- include('./includes/header') %> 


<div class="container">

    <h1 class="mt-5 mb-5"> Notice Board </h1>

    <% notices.forEach(notice => { %> 
        <div class="card notice-card mt-5">
            <div class="card-header">
                <h2 class="card-title"> <%= notice.title %> </h3>
            </div>
            <div class="card-body">
                <p> <%= notice.content %> </p>
            </div>
            <div class="card-footer">
                <h6 >Posted On : <span id="time"><%= notice.createdAt %></span> </h6>
            </div>
        </div>
   
    
  <%   }) %> 

  






</div>
<div style="position: relative; top:350px;">
    <%- include("./includes/footer") %>
</div>

<script>
    
</script>