<%- include('../includes/header') %> 

<div class="container">
    <h1 class="mb-5 mt-5">Application form </h1>
    <form action="/applications/updateApplication/<%= application.id %> " method="POST">


    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title ">Personal information </h3>
                </div>
            </div>
        <!-- course applied -->
            <div class="card">
                <div class="card-body">
                <label class="form-label" >Course </label>
                        <select name="course"id='course' class="form-select" >
                            <optgroup label="B.Sc">
                                <option value="biotechnology">Bio technology</option>
                                <option value="biochemistry">Bio Chemistry</option>
                                <option value="genetics">Genetics</option>
                                <option value="microbiology">Microbiology</option>
                                <option value="physics">Physics</option>
                                <option value="computer science">Computer ccience</option>
                                <option value="electronics">Electronics</option>
                                <option value="mathematics">Mathematics</option>
                            </optgroup>
                            <optgroup label="BCA">
                                <option value="computer application">Computer Application</option>
                        
                            </optgroup>
                        </select>

                </div>
            </div>

        <!-- course applied -->

        <!-- student pic -->
        <div class="card">
            <div class="card-body">
                <label  class="form-label">Student Pic</label>
                <input class="form-control" type="file" name="studentPic" value="<%= application.profile %> " >
            </div>
        </div>
        <!-- student pic  -->

        <!-- father name -->
        <div class="card">
            <div class="card-body">
                <label class="form-label">Father's Name</label>
                <input type="text" name="fatherName"  class="form-control" value="<%= application.fatherName %> ">
            </div>
        </div>
         <!-- father name -->

         <!-- mother name -->
         <div class="card">
            <div class="card-body">
                <label  class="form-label">Mother's Name</label>
                <input type="text" name="motherName"  class="form-control" value="<%= application.motherName %> ">
            </div>
         </div>
        <!-- mother name -->

        <!-- DOB -->


        <div class="card">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <label  class="form-label">Date of Birth</label>
                        <input type="date" name="dob" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <label  class="form-label mb-3" style="display:block; ">Gender</label>
                        <input type="radio" name="gender" value="male" style="margin-right:08px;">Male
                        <input type="radio" name="gender" value="female" style="margin-left:50px;margin-right:08px; ">Female
                    </div>
                </div>
            </div>
        
        </div>

        <!-- DOB -->

        <!-- Nationality -->

        <div class="card">
            <div class="card-body">
                <label  class="form-label">Nationality</label>
                <input type="text" name="nationality"  class="form-control" value="<%= application.nationality %> ">
            </div>
        </div>

        <!-- Nationality -->


        <!-- Address -->

        <div class="card">
            <div class="card-body">
                <label class="form-label">Enter your correspondance address</label>
                <textarea name="correspondanceAddress"  cols="20" rows="05" class="form-control " >
                    <%= application.address %>
                </textarea>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <label  class="form-label">Permanent Address </label>
                <textarea name="permanentAddress"  cols="30" rows="05" class="form-control">
                        <%= application.address %> 
                </textarea>
            </div>
        </div>

        <!-- address   -->

        <!-- category -->

        <div class="card">
            <div class="card-body">
                <label class="form-label">Select Category</label>
                <select name="category" id="category"  class="form-select">
                    <option value="general">General</option>
                    <option value="obc">OBC</option>
                    <option value="sc/st">SC/ST</option>
                    <option value="others">OTHERS</option>
                </select>
            </div>
        </div>



        <!-- category -->



        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Education </h3>
                </div>
            </div>
            <!-- sslc information -->
            <div class="card">
                <div class="card-body">
                    <h4>SSLC</h4>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Year of Passing: </label>
                            <input type="number" name="sslcYearOfPassing" class="form-control" value="<%= application.yearOfPassing10 %> ">
                        </div>
                        <div class="col">

                            <label  class="form-label"> Board/University</label>
                            <input type="text" name="sslcBoard"  class="form-control" value="<%= application.board10 %> ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label  class="form-label"> Percentage </label>
                            <input type="number" name="sslcPercentage" class="form-control" value="<%= application.percentage10 %> ">

                        </div>
                        <div class="col">
                            <label  class="form-label"> Stream </label>
                            <input type="text" name="sslcStream"  class="form-control" value="<%= application.stream10 %> ">

                        </div>
                    </div>
                  


                </div>
            </div>
            <!-- sslc information -->

            <!-- puc information -->

            <div class="card">
                <div class="card-body">
                    <h4>12<sup>th</sup>(Senior secondary)</h4>
                    <div class="row">
                        <div class="col">
                            <label  class="form-label"> Board/University</label>
                            <input type="text" name="pucBoard"  class="form-control" value="<%= application.board12 %> ">
                        </div>
                        <div class="col">
                            <label  class="form-label"> Year of Passing </label>
                            <input type="number" name="pucYearOfPassing" class="form-control" value="<%= application.yearOfPassing12 %> ">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label  class="form-label"> Percentage </label>
                            <input type="number" name="pucPercentage"  class="form-control" value="<%= application.percentage12 %> ">
                        </div>
                        <div class="col">
                            <label  class="form-label">Stream</label>
                            <input type="text" name="pucStream"  class="form-control" value="<%= application.stream12 %> ">                        </div>
                    </div>

                </div>
            </div>



            <!-- puc information -->


            <!-- required Documents  -->

            <div class="card mt-5">
                <div class="card-header ">
                    <h3 class="card-title ">Required Documents </h3>
                </div>
            

            <!-- transfer certificate  -->

                <div class="card-body">
                    <label  class="form-label">Transfer certificate</label>
                    <input type="file" name="tc" class="form-control">
                </div>
            <!-- transfer certificate  -->

            <!-- 10th marksheet  -->
                <div class="card-body">
                    <label class="form-label">10<sup>th</sup> Marksheet </label>
                    <input type="file" name="sslcMarksheet"  class="form-control">
                </div>

            <!-- 10th marksheet  -->

            <!-- 12th marksheet  -->

                <div class="card-body">
                    <label  class="form-label">12<sup>th</sup> Marksheet </label>
                    <input type="file" name="pucMarksheet"  class="form-control">
                </div>

            <!-- 12th marksheet  -->
            </div>
            <!-- required Documents  -->

            <!-- declaration  -->

            <div class="card mt-5">
                <div class="card-header">
                    <h2>Declaration</h2>
                </div>

                <div class="card-body mt-2">
                    <h4 class="mt-3 mb-4">I hereby declare that the facts mentioned above are true to the best of my knowledge and belief </h3>

                    <input type="text" name="userSign" placeholder="Enter your name" class="form-control" value="<%= current_user.username %> ">


                </div>
            </div>

            <!-- declaration  -->

            <input type="hidden" name="status" value="pending">

        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary mt-5" >Submit Application </button>
</form>
</div>


<%- include('../includes/footer') %> 