<%- include('../includes/header') %> 

<div class="container">
    <% if(updateMessage) { %>
        <div class='alert alert-warning text-center'>
            <%= updateMessage %> 
        </div>
    <% } %>
    
    <% if(message) { %>
        <div class='alert alert-warning text-center'>
            <%= message %> 
        </div>
    <% } %>

    <% if(applications.length == 0) { %> 
        <div style="height:220px;">
            <h1 class="text-danger mt-5">You have not submitted any applications </h1>
            <button class="btn btn-success"><a href="/applications/applicationForm">Apply Now </a></button>

        </div>

       
       
       
    <% } else { %> 

        <div class="row">
            <% applications.forEach(application => { %> 
            <div class="col">
               
    
                    <div class="card mt-5" style="width:500px; ">
                        <div class="card-header" style="background-color: #5f2c3e; color:white;">
                            <h3 class="card-title text-center" > Course:  <%= application.course %> </h3>
                        </div>
                        <div class="card-body" style="background-color: #c2d2bd;font-size: 20px;">
                            <p class="card-text" style="font-size: 20px;"> Status:  <%= application.formStatus %> </p>
                            <% if(application.payment == false){ %> 
                                <p class="card-text"> You can pay the fee once your application  gets accepted  </p>
                            <% } else { %> 
                                <p class="card-text" > Payment :     Paid </p>
                            <% } %>  
        
                        </div>
                        <div class="card-header user-course-page" style="background-color: #c2d2bd;">

                            <% if(application.payment == true){ %> 
                                <button class="btn " type="button" style="background-color: #EEA47F;"> <a href="/applications/viewApplication/<%= application.id %> " class="text-black">View Application</a> </button>

                          <%   } else { %> 
                            <button class="btn " type="button" style="background-color: #EEA47F;"> <a href="/applications/viewApplication/<%= application.id %> " class="text-black">View Application</a> </button>
                            <button class="btn "type="button" style="background-color: #00539C;"> <a href="/applications/updateApplication/<%= application.id %> ">Update</a> </button>


                         <% } %> 

                        </div>
                    </div>
        
                </div>
                <% }) %> 
        
        
        </div>

        
 
       
    <% }%> 
   
</div>

<div style="position: relative; top:280px;">
    <%- include('../includes/footer') %> 
</div>


