<%- include('../includes/header') -%> 


<div class="container">
    <div class="card mt-4" style=" width:600px; position: relative; left:350px">
        <% if(message) { %>
            <div class='alert alert-success text-center'>
                <%= message %> 
            </div>
        <% } %>

        <% if(userUpdateSuccess) { %>
            <div class='alert alert-info text-center'>
                <%= userUpdateSuccess %> 
            </div>
        <% } %>

        <div class="card-body mt-4">
            <img src="../uploaded-images/<%= current_user.profile %> "

            
             alt="users profile" style=" border-radius: 50%; vertical-align: middle;
            width: 180px;
            height: 180px;
            margin-left:180px;
            ">
            <h3 class="text-center mt-3">Welcome <%= current_user.email  %>  </h1>
          

           <hr style="border: 3px solid black;">
          

        </div>
        <div class="card-body mt-3 welcome-page">
            <div class="row mb-3">
                <div class="card welcome-page">
                    <div class="col">
                        <h4> <a   href="/users/getApplications"> Applications submitted </a></h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="col">
                        <h4> <a href="/users/payment">payment pending</a></h4>
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="card">
                    <div class="col">
                        <h4> <a href="/users/notifications">important notifcations </a></h4>
                    </div>
                </div>
            </div>
         
            
        </div>
        <div class="card-footer mt-5 welcome-page-footer ">
            <button class="btn btn-lg m-1" style="width:47%; background-color: #00539C"><a href="/users/logout">Logout</a></button>
            <button class="btn btn-lg m-1 " style="width:47%;position: absolute; box-sizing: border-box; background-color: #EEA47F;"> <a href="/users/updateuser">Update</a></button>
        </div>
       
    </div>
</div>


<%- include('../includes/footer') -%>